@font-face {
    font-family: 'Basis Grotesque Pro Mono';
    src: url('BasisGrotesqueProMono-BoldItalic.woff2') format('woff2'),
        url('BasisGrotesqueProMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('BasisGrotesquePro-Light.woff2') format('woff2'),
        url('BasisGrotesquePro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('BasisGrotesquePro-MediumItalic.woff2') format('woff2'),
        url('BasisGrotesquePro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Basis Grotesque Pro Off White';
    src: url('BasisGrotesqueProOffWhite-Italic.woff2') format('woff2'),
        url('BasisGrotesqueProOffWhite-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('BasisGrotesquePro-Italic.woff2') format('woff2'),
        url('BasisGrotesquePro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('BasisGrotesquePro-LightItalic.woff2') format('woff2'),
        url('BasisGrotesquePro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Basis Grotesque Pro Off White';
    src: url('BasisGrotesqueProOffWhite.woff2') format('woff2'),
        url('BasisGrotesqueProOffWhite.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Pro Mono';
    src: url('BasisGrotesqueProMono-Bold.woff2') format('woff2'),
        url('BasisGrotesqueProMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('BasisGrotesquePro-BlackItalic.woff2') format('woff2'),
        url('BasisGrotesquePro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('BasisGrotesquePro-BoldItalic.woff2') format('woff2'),
        url('BasisGrotesquePro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Basis Grotesque Pro Mono';
    src: url('BasisGrotesqueProMono-Italic.woff2') format('woff2'),
        url('BasisGrotesqueProMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Basis Grotesque Pro Mono';
    src: url('BasisGrotesqueProMono.woff2') format('woff2'),
        url('BasisGrotesqueProMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('BasisGrotesquePro-Medium.woff2') format('woff2'),
        url('BasisGrotesquePro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('BasisGrotesquePro-Bold.woff2') format('woff2'),
        url('BasisGrotesquePro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('BasisGrotesquePro.woff2') format('woff2'),
        url('BasisGrotesquePro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Pro';
    src: url('BasisGrotesquePro-Black.woff2') format('woff2'),
        url('BasisGrotesquePro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Archive Pro';
    src: url('ArchivePro-ExtraBold.woff2') format('woff2'),
        url('ArchivePro-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Archive Pro';
    src: url('ArchivePro-Regular.woff2') format('woff2'),
        url('ArchivePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archive Pro';
    src: url('ArchivePro-Italic.woff2') format('woff2'),
        url('ArchivePro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Archive Pro';
    src: url('ArchivePro-SemiBoldItalic.woff2') format('woff2'),
        url('ArchivePro-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Archive Pro';
    src: url('ArchivePro-ExtraBoldItalic.woff2') format('woff2'),
        url('ArchivePro-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Archive Pro';
    src: url('ArchivePro-SemiBold.woff2') format('woff2'),
        url('ArchivePro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Archive Pro';
    src: url('ArchivePro-Bold.woff2') format('woff2'),
        url('ArchivePro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Archive Pro';
    src: url('ArchivePro-BoldItalic.woff2') format('woff2'),
        url('ArchivePro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

