span.input {
	width: 100%
}

span.input:before {
	content: '> '
}

input[type="text"] {
	display: inline !important;
	outline: none;
	background: black;
	color: white;
	padding: 0;
	margin: 0;
	border: none;
	line-height: 11px;
	width: 75%;
	font-family: 'Suisse Int\'l';
	font-size: 11px;
}

button {
	outline: none;
	background: black;
	color: white;
	padding: 0;
	border: none;
	margin: 0;
	display: inline;
	font-family: 'Suisse Int\'l';
	font-size: 11px;
	text-decoration: underline;
}

button:focus {
	text-decoration: none;
	background: white;
	color: black;
}