.container {
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	font-style: italic;
	border: 1px solid white;
	padding: 10px;
}

header {
	padding: 1%;
}


nav {
	width: 17.5%;
	padding-right: 15px;
	float: left;
}


@media (max-width: 1048px) {
	nav {
	width: 25%;
	padding-right: 15px;
	float: left;
	}
}

@media (max-width: 740px) {
	nav {
		width: 100%;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid white;
		float: none;
	}
}

main {
	width: 60%;
	float: left;
}

footer {
	position: fixed;
	width: 100%;
	background: #000;
	padding: 11px;
	bottom: 0px;
	left: 0px;
	font-size: 12px;
	font-family: 'Basis Grotesque Pro Mono';
}
