/* Typography */

strong,
b {
	font-weight: 700;
}

em,
i {
	font-style: italic;
}

p {
	margin-bottom: .75em;
	margin-top: 0;
}

pre a {font-weight: 400; font-style: italic;}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Basis Grotesque Pro';
	font-weight: 400;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0.25em;
}

h1 {
	font-size: 2.5em;
}
h1 a {
	font-weight: bold;
}

a {
	display: inline;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
	cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC) 9 9, auto;
}

a:hover {
	text-decoration: underline;
}

a.external:after {
	content: "→";
	color: #56ffff;
}

hr {
	position: relative;
	height: 11px;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	height: 0px;
	border: none;
	border-bottom: 1px solid white;
	margin-top: 11px;
	margin-bottom: 11px;
}

code {
	font-size: 14px;
	font-family: 'Basis Grotesque Pro Mono';
	line-height: 15px;
	display: inline-block;
}