/* Völkrom specific styling */

list { display: block }
list ln { display: block }

bcode ln {
	display: block;
	line-height: 11px;
}

quote .text {
	font-family: 'Basis Grotesque Pro';
	font-style: italic;
	margin: 0;
}

quote .attrib {
	font-size: 12px;
}
quote .attrib:before {
	content: "─ "
}

ln:before {
	content: "· ";
	margin-right: 5px;
}

pre {
		-webkit-border-radius: 2px;
	        border-radius: 2px;
	border: 1px solid white;
	padding: 14px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Basis Grotesque Pro Mono', 'monospace';
	line-height: 15px;
	margin-bottom: .75em;	
}

bpre {
	white-space: pre;
	display: block;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Basis Grotesque Pro Mono', 'monospace';
	line-height: 15px;
	margin-bottom: .75em;	
}

bcode {
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	border: 1px solid white;
	padding: 14px;
	white-space: pre;
	display: block;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Basis Grotesque Pro Mono', 'monospace';
	line-height: 15px;
	margin-bottom: .75em;	
}

p.note {
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	font-style: italic;
	border: 1px solid white;
	padding: 14px;
}

list {
	margin-bottom: .75em;
}