@import url('fonts/stylesheet.css');

@import url('components/typography.css');
@import url('components/layout.css');
@import url('components/volkrom.css');
@import url('components/colour.css');

html {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	padding: 30px;
}

body {
	font-family: "Basis Grotesque Pro";
	font-size: 16px;
	line-height: 1.125;
	color: #fff;
	padding: 0;
	margin: 0;
	background-color: #000;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 4px;
	background-color: #000;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,0.12);
}

::selection {
	color: black;
	background: rgba(255,255,255,0.99);
}
*::selection {
	color: black;
	background: rgba(255,255,255,0.99);
}
::-moz-selection {
	color: black;
	background: rgba(255,255,255,0.99);
}
*::-moz-selection {
	color: black;
	background: rgba(255,255,255,0.99);
}

* {
	cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC) 9 9, auto !important;
}